<html>
<body>
<div>
  <form method = "POST"
        enctype = "multipart/form-data">
    <input type = "file" name = "file" />
    <input type = "submit"/>
  </form>
  {% if extracted_text %}
  <h1>Текст из видео</h1>
  <p>{{ extracted_text }}</p>
  {% endif %}
</div>
</body>
</html>